<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url('/images/hero-img.jpg')"
>
  <!-- Transparent Navbar -->
  <app-nav-bar></app-nav-bar>

  <!-- Hero Content -->
  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-center text-neutral-600"
  >
    <h1 class="text-5xl font-bold drop-shadow-2xl">
      Create Memories with EventSphere
    </h1>
    <p class="mt-4 text-lg font-medium drop-shadow-2xl">
      Your gateway to unforgettable events. Discover, book, and enjoy!
    </p>
    <button
      class="mt-6 bg-blue-500 px-6 py-3 rounded text-lg font-semibold hover:bg-blue-600"
    >
      Explore Events
    </button>
  </div>
</div>
