<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url('/images/img.avif')"
>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <menu
    [ngClass]="{ scrolled: isScrolled }"
    class="navbar transition duration-300"
  >
    <app-nav-bar></app-nav-bar>
  </menu>

  <!-- Content -->
  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-center dark:headerText"
  >
    <!-- Title -->
    <h1 class="text-6xl font-extrabold drop-shadow-lg">
      Create Memories with <span class="text-blue-500">EventSphere</span>
    </h1>

    <!-- Subtitle -->
    <p class="mt-4 text-xl font-light dark:secondaryText max-w-3xl">
      Your gateway to unforgettable events. Discover, book, and enjoy every
      moment with ease.
    </p>
  </div>
</div>
